<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>


		<property name="hibernate.connection.pool.size">20</property>
		<property name="hibernate.connection.autocommit">false</property>
		<property name="hibernate.jdbc.batch_size">20</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- C3P0 -->
		<property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idleConnectionTestPeriod">30</property>
		<property name="hibernate.c3p0.timeout">30</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.max_size">100</property>
		<property name="hibernate.c3p0.min_size">6</property>
		<property name="hibernate.c3p0.preferredTestQuery">SELECT 1</property>
		<property name="hibernate.c3p0.validate">true</property>

		<!-- EHCache -->
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>

		<!-- SEARCH -->
		<property name="hibernate.search.default.directory_provider">filesystem</property>
		<property name="hibernate.search.default.indexBase">/var/lucene/indexes/5</property>

		<mapping class="com.ossez.covid19.common.models.Covid19Current"/>
		<mapping class="com.ossez.covid19.common.models.Covid19States"/>
		<mapping class="com.ossez.covid19.common.models.Covid19DailyUS"/>
		<mapping resource="hbm/api/RewsUser.hbm.xml" />
		<mapping resource="hbm/AdvisorManualAdditionalData.hbm.xml" />
		<mapping resource="hbm/Agent.hbm.xml" />
		<mapping resource="hbm/AgentDesignation.hbm.xml" />
		<mapping resource="hbm/AgentPoints.hbm.xml" />
		<mapping resource="hbm/AgentProfileLink.hbm.xml" />
		<mapping resource="hbm/AgentLeadTown.hbm.xml" />
		<mapping resource="hbm/AgentMlsNumber.hbm.xml" />
		<mapping resource="hbm/AgentSpecialty.hbm.xml" />
		<mapping resource="hbm/CmsPackage.hbm.xml" />
		<mapping resource="hbm/ComponentTemplate.hbm.xml" />
		<mapping resource="hbm/ComponentTemplateField.hbm.xml" />
		<mapping resource="hbm/ConfigSetting.hbm.xml" />
		<mapping resource="hbm/County.hbm.xml" />
		<mapping resource="hbm/Account.hbm.xml" />
		<mapping resource="hbm/AccountAction.hbm.xml" />
		<mapping resource="hbm/AccountContact.hbm.xml" />
		<mapping resource="hbm/DataImport.hbm.xml" />
		<mapping resource="hbm/Designation.hbm.xml" />
		<mapping resource="hbm/DoNotCall.hbm.xml" />
		<mapping resource="hbm/DotLoop.hbm.xml" />
		<mapping resource="hbm/DotLoopDocument.hbm.xml" />
		<mapping resource="hbm/DotLoopFolder.hbm.xml" />
		<mapping resource="hbm/DotLoopNotifications.hbm.xml" />
		<mapping resource="hbm/DotLoopParticipant.hbm.xml" />
		<mapping resource="hbm/EmailList.hbm.xml" />
		<mapping resource="hbm/EmailTemplate.hbm.xml" />
		<mapping resource="hbm/EmailTemplateField.hbm.xml" />
		<mapping resource="hbm/EmailUpdateLog.hbm.xml" />
		<mapping resource="hbm/EmailLead.hbm.xml" />
		<mapping resource="hbm/FavoriteListing.hbm.xml" />
		<mapping resource="hbm/Feature.hbm.xml" />
		<mapping resource="hbm/FeatureValue.hbm.xml" />
		<mapping resource="hbm/Feed.hbm.xml" />
		<mapping resource="hbm/Folder.hbm.xml" />
		<mapping resource="hbm/Group.hbm.xml" />
		<mapping resource="hbm/InformationRequest.hbm.xml" />
		<mapping resource="hbm/Layout.hbm.xml" />
		<mapping resource="hbm/Lead.hbm.xml" />
		<mapping resource="hbm/LeadGroup.hbm.xml" />
		<mapping resource="hbm/LeadGroupLead.hbm.xml" />
		<mapping resource="hbm/LeadType.hbm.xml" />
		<mapping resource="hbm/Listing.hbm.xml" />
		<mapping resource="hbm/ListingFeature.hbm.xml" />
		<mapping resource="hbm/ListingNotification.hbm.xml" />
		<mapping resource="hbm/ListingPhoto.hbm.xml" />
		<mapping resource="hbm/LogEntry.hbm.xml" />
		<mapping resource="hbm/Menu.hbm.xml" />
		<mapping resource="hbm/MetroRegion.hbm.xml" />
		<mapping resource="hbm/MetroRegionTown.hbm.xml" />
		<mapping resource="hbm/MlsProvider.hbm.xml" />
		<mapping resource="hbm/Module.hbm.xml" />
		<mapping resource="hbm/NetClosingCost.hbm.xml" />
		<mapping resource="hbm/Office.hbm.xml" />
		<mapping resource="hbm/OfficeMlsNumber.hbm.xml" />
		<mapping resource="hbm/OpenHouse.hbm.xml" />
		<mapping resource="hbm/Page.hbm.xml" />
		<mapping resource="hbm/PageComponent.hbm.xml" />
		<mapping resource="hbm/PageField.hbm.xml" />
		<mapping resource="hbm/PageRevision.hbm.xml" />
		<mapping resource="hbm/Permission.hbm.xml" />
		<mapping resource="hbm/RealtorComStats.hbm.xml" />
		<mapping resource="hbm/RecentlyViewedListing.hbm.xml" />
		<mapping resource="hbm/RemovedListing.hbm.xml" />
		<mapping resource="hbm/Report.hbm.xml" />
		<mapping resource="hbm/ReportDefault.hbm.xml" />
		<mapping resource="hbm/ReportTemplate.hbm.xml" />
		<mapping resource="hbm/Search.hbm.xml" />
		<mapping resource="hbm/ServiceArea.hbm.xml" />
		<mapping resource="hbm/ShortOrderSale.hbm.xml" />
		<mapping resource="hbm/Site.hbm.xml" />
		<mapping resource="hbm/Skin.hbm.xml" />
		<mapping resource="hbm/Specialty.hbm.xml" />
		<mapping resource="hbm/Style.hbm.xml" />
		<mapping resource="hbm/Template.hbm.xml" />
		<mapping resource="hbm/TemplateField.hbm.xml" />
		<mapping resource="hbm/Town.hbm.xml" />
		<mapping resource="hbm/TownInfo.hbm.xml" />
		<mapping resource="hbm/TruliaStats.hbm.xml" />
		<mapping resource="hbm/User.hbm.xml" />
		<mapping resource="hbm/UserGroup.hbm.xml" />
		<mapping resource="hbm/VkitComparableAssoc.hbm.xml" />
		<mapping resource="hbm/VkitComparablePackage.hbm.xml" />
		<mapping resource="hbm/VkitComparableProperty.hbm.xml" />
		<mapping resource="hbm/PhotoApproval.hbm.xml" />
		<mapping resource="hbm/PageComponentField.hbm.xml" />
		<mapping resource="hbm/ListingApproval.hbm.xml" />
		<mapping resource="hbm/LockBox.hbm.xml" />
		<mapping resource="hbm/SignOrder.hbm.xml" />
		<mapping resource="hbm/UserOffice.hbm.xml" />
		<mapping resource="hbm/Resource.hbm.xml" />
		<mapping resource="hbm/ResourceData.hbm.xml" />
		<mapping resource="hbm/Widget.hbm.xml" />
		<mapping resource="hbm/UserWidget.hbm.xml" />
		<mapping resource="hbm/ListingAction.hbm.xml" />
		<mapping resource="hbm/ReportTemplateElement.hbm.xml" />
		<mapping resource="hbm/InternalSearch.hbm.xml" />
		<mapping resource="hbm/SearchHistoryEntry.hbm.xml" />
		<mapping resource="hbm/SearchHistoryType.hbm.xml" />
		<mapping resource="hbm/ListingActionHistoryEntry.hbm.xml" />
		<mapping resource="hbm/NearbyTown.hbm.xml" />
		<mapping resource="hbm/NearbySubDivisions.hbm.xml" />
		<mapping resource="hbm/AgentPhoto.hbm.xml" />
		<mapping resource="hbm/Document.hbm.xml" />
		<mapping resource="hbm/DocumentGroup.hbm.xml" />
		<mapping resource="hbm/AgentProfile.hbm.xml" />
		<mapping resource="hbm/ListingComingSoon.hbm.xml" />
		<mapping resource="hbm/ListingCompliment.hbm.xml" />
		<mapping resource="hbm/DocumentData.hbm.xml" />
		<mapping resource="hbm/ReportOutput.hbm.xml" />
		<mapping resource="hbm/ReportTemplateElementData.hbm.xml" />
		<mapping resource="hbm/LoginHistoryEntry.hbm.xml" />
		<mapping resource="hbm/AuthenticationToken.hbm.xml" />
		<mapping resource="hbm/UserCredential.hbm.xml" />
		<mapping resource="hbm/UserCredentialType.hbm.xml" />
		<mapping resource="hbm/CmsPermission.hbm.xml" />
		<mapping resource="hbm/BlackListEntry.hbm.xml" />
		<mapping resource="hbm/EmailHistoryEntry.hbm.xml" />
		<mapping resource="hbm/EShowingAppt.hbm.xml" />
		<mapping resource="hbm/LeadCode.hbm.xml" />
		<mapping resource="hbm/MarketStats.hbm.xml" />
		<mapping resource="hbm/EmailCleanStat.hbm.xml" />
		<mapping resource="hbm/Vendor.hbm.xml" />
		<mapping resource="hbm/VendorRatings.hbm.xml" />
		<mapping resource="hbm/VendorCategories.hbm.xml" />
		<mapping resource="hbm/VendorCategoryXref.hbm.xml" />
		<mapping resource="hbm/VendorSubCategories.hbm.xml" />
		<mapping resource="hbm/VendorSuperSubCategories.hbm.xml" />
		<mapping resource="hbm/ApplicationLog.hbm.xml" />
		<mapping resource="hbm/VeraniAds.hbm.xml" />
		<mapping resource="hbm/VeraniAdsActions.hbm.xml" />
		<mapping resource="hbm/Cart.hbm.xml" />
		<mapping resource="hbm/CartListings.hbm.xml" />
		<mapping resource="hbm/ThumbStatus.hbm.xml" />
		<mapping resource="hbm/ReportHistory.hbm.xml" />
		<mapping resource="hbm/FloorPlan.hbm.xml" />
		<mapping resource="hbm/FloorPlanPhoto.hbm.xml" />
		<mapping resource="hbm/ZillowStats.hbm.xml" />
		<event type="delete">
			<listener class="com.ossez.covid19.common.dao.DeleteEventListener" />
		</event>
	</session-factory>
</hibernate-configuration>
